<!DOCTYPE html>
<html lang="en">
<head>
    <title><%= title %></title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
    <link rel="stylesheet" href="stylesheets/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/theme.css">
    <script src="javascripts/jquery.js"></script>
    <script src="javascripts/Popper.js"></script>
    <script src="javascripts/tooltip.min.js"></script>
    <script src="javascripts/bootstrap.js"></script>
    <script src="javascripts/moment.min.js"></script>
</head>
<body>