<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">

    <a class="navbar-brand" href="#"><img alt="UEA Logo" class="nav_image" src="images/logo.png" height="30"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
        </ul>
        <form action="login" method="post" class="form-inline my-3 my-lg-0">
            <label class="sr-only" for="username_login">Username</label>
            <input id="username_login" class="form-control mr-sm-2" type="text" name="username" placeholder="username" aria-label="Username" required>
            <label class="sr-only" for="password_login">Password</label>
            <input id="password_login" class="form-control mr-sm-2" type="password" name="password" placeholder="password" aria-label="Password" required>
            <button class="btn btn-outline-primary my-3 my-sm-0" type="submit">Log In</button>
        </form>
    </div>
</nav>