<%- include partials/begin.ejs %>
<%- include partials/navigation.ejs %>
<div class="container">
    <div class="jumbotron" style="background-color: #FFFFFF;">
        <div class="row col-12" style="align-content: center">
            <span style="line-height:1em; color: #800000; font-size: 3em;" class="glyphicon glyphicon-ban-circle"></span>
            <h3 style="line-height:1em; color: #800000; font-size: 3em;">Restricted Content</h3>
        </div>
    </div>
</div>
<%- include partials/confirm-logout.ejs %>
<%- include partials/end.ejs %>